
   
<footer>
  <li>
    <ul id="ul1">
        <span>&#169;</span>
        <span> Copyrights</span>
        <br>
        <!-- <span><i class="material-icons help" (click)="openDialog()"> help_outline
            </i> Hep</span> -->
            
            <button id="button1" (click)="open()"><span><mat-icon>question_answer</mat-icon>FAQ</span></button>
       
        <br>
        <span><span class="material-icons">call</span>Contact Us</span>
        <br>
        <span><mat-icon>facebook</mat-icon> | <mat-icon>whatsapp</mat-icon> | <span class="material-icons">snapchat</span></span>
</ul>
<ul id="ul2">
  <span> <span class="material-icons">support_agent</span>Chat With Us</span>
</ul>
</li>
            

                <!-- <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button> -->

                <!-- <div class="modal-header">
                <h4 class="modal-title">FAQ</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                
                <p>Hello, you !</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
              </div> -->
    </footer>
    